package layout

templ Base() {
    <!DOCTYPE HTML>
    <html lang="en">
     <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Conservio.com</title>
            <link href="/static/css/tailwind.css" rel="stylesheet"/>
            <link href="/static/css/style.css" rel="stylesheet"/>
        </head>
     <body>
         {children...}
     </body>
    </html>
}